manifest {
    name        = 'ShortVariants-Annotation'
    author      = 'Florian Bénitière'
    description = 'A Nextflow pipeline for annotating Short Variants (SNVs and Indels) on large dataset.'
    version     = '4.1.0'
}


env {
    PATH = "\$PATH:${projectDir}/bin/dataset_specific"
}


profiles {
    
    // Test profile
    test_GRCh38 {
         params {
            genome_version = "GRCh38"
            file_gvcf_path = makeTestSampleFile("${projectDir}/tests", "${genome_version}")
            vep_cache = "${projectDir}/resources/vep_cache"
            ref_genome_dir = "${projectDir}/resources/reference_genome"
            batch_size = 3
        } 
    }

    test_GRCh37 {
         params {
            genome_version = "GRCh37"
            file_gvcf_path = makeTestSampleFile("${projectDir}/tests", "${genome_version}")
            vep_cache = "${projectDir}/resources/vep_cache"
            ref_genome_dir = "${projectDir}/resources/reference_genome"
            batch_size = 3
        } 
    }

    // Apptainer containers
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    // Singularity containers
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    // Docker containers
    docker {
        docker.enabled = true
        docker.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    // Test profile CCDB
    test_CCDB {
         params {
            genome_version = "GRCh37"
            file_gvcf_path = makeTestSampleFile("${projectDir}/tests", "${genome_version}")
            vep_cache = "/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/VEP/cache"
            ref_genome_dir = "/lustre09/project/6008022/LAB_WORKSPACE/RAW_DATA/Genetic/Reference_Data/reference_genome"
            batch_size = 3
            } 
        apptainer {
            enabled = true
            autoMounts = true
        }

        process {
            withLabel: genomics_tools {
                container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/genomics_tools_latest.sif'
            }

            withLabel: pyspark {
                container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/pyspark_latest.sif'
            }

            withLabel: duckdb_python {
                container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/duckdb_python_latest.sif'
            }

            withLabel: ensembl_vep_113 {
                container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/ensembl_vep_113.3_latest.sif'
            }
        }
    }
}



def  makeTestSampleFile(String dirPath, String genome_version) {
        def outputFile = new File(dirPath, "sample_to_gvcf.tsv.gz").canonicalPath
        def tmpFile    = outputFile.replaceAll(/\.gz$/, "")

        def cmd = """
        {
        echo -e "sampleID\tPath"
        find "$dirPath/gvcf_$genome_version" -type f -name "*gvcf.gz" |
        while read f; do
            prefix=\$(basename "\$f" | cut -d. -f1)
            echo -e "\$prefix\\t\$f"
        done
        } > "$tmpFile"

        gzip -f "$tmpFile"
        """

        def proc = ["bash", "-c", cmd].execute()
        proc.waitFor()

        return outputFile
    }