manifest {
    name        = 'ShortVariants-Annotation'
    author      = 'Florian Bénitière'
    description = 'A Nextflow pipeline for annotating Short Variants (SNVs and Indels) on large dataset.'
    version     = '4.0.0'
}


env {
    PATH = "\$PATH:${projectDir}/bin/dataset_specific"
}


profiles {
    
    // Test profile
    test {
         params {
            file_gvcf_path = makeTestSampleFile("${projectDir}/tests")
            fasta_ref = "${projectDir}/resources/reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz"
            vep_cache = "${projectDir}/resources/vep_cache/"
            batch_size = 3
        } 
    }

    // Apptainer containers
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    // Singularity containers
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    // Docker containers
    docker {
        docker.enabled = true
        docker.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }
}



def  makeTestSampleFile(String dirPath) {
        def outputFile = new File(dirPath, "sample_to_gvcf.tsv.gz").canonicalPath
        def tmpFile    = outputFile.replaceAll(/\.gz$/, "")

        def cmd = """
        {
        echo -e "sampleID\tPath"
        find "$dirPath" -type f -name "*vcf.gz" |
        while read f; do
            prefix=\$(basename "\$f" | cut -d. -f1)
            echo -e "\$prefix\\t\$f"
        done
        } > "$tmpFile"

        gzip -f "$tmpFile"
        """

        def proc = ["bash", "-c", cmd].execute()
        proc.waitFor()

        return outputFile
    }