manifest {
    name        = 'ShortVariants-Annotation'
    author      = 'Florian Bénitière'
    description = 'A Nextflow pipeline for annotating Short Variants (SNVs and Indels) on large dataset.'
    version     = '4.0.0'
}


env {
    PATH = "\$PATH:${projectDir}/bin/dataset_specific"
}


profiles {
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'docker://ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'docker://ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'docker://ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'docker://ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }

    docker {
        docker.enabled = true
        docker.autoMounts = true

        process  {
            withLabel: genomics_tools {
                container = 'ghcr.io/jacquemontlab/genomics_tools:latest'
            }

            withLabel: pyspark {
                container = 'ghcr.io/jacquemontlab/pyspark:latest'
            }

            withLabel: duckdb_python {
                container = 'ghcr.io/jacquemontlab/duckdb_python:latest'
            }

            withLabel: ensembl_vep_113 {
                container = 'ghcr.io/jacquemontlab/ensembl_vep_113.3:latest'
            }
        }
    }
}