/*
 * Nextflow SLURM execution template using Apptainer.
 * Configured for the CCDB HPC environment and designed to run fully offline
 * (containers and reference resources are pre-pulled locally).
 */


apptainer.enabled = true
apptainer.autoMounts = true

params {
    batch_size = 3
    fasta_ref = "/lustre09/project/6008022/LAB_WORKSPACE/RAW_DATA/Genetic/Reference_Data/reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa.gz"
    vep_cache = "/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/VEP/cache/"
} 

process  {
    executor = 'slurm'
    clusterOptions = '--account=rrg-jacquese --mem-per-cpu=3500MB'

    withLabel: genomics_tools {
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/genomics_tools_latest.sif'
    }

    withLabel: pyspark {
        cpus = 64
        memory = "224g"
        clusterOptions = '--account=rrg-jacquese'
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/pyspark_latest.sif'
    }

    withLabel: duckdb_python {
        time = "1h"
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/duckdb_python_latest.sif'
    }

    withLabel: ensembl_vep_113 {
        time = "1h"
        container = '/lustre09/project/6008022/LAB_WORKSPACE/SOFTWARE/Dockers/ensembl_vep_113.3_latest.sif'
    }

    withName: ProduceTSVPerSample {
        executor = 'slurm'
        time = "1h"
        cpus = 64
    }

    withName: MergeTSVParquetByBatch {
        cpus = 64
        time = "1h"
    }

    withName: MergeBatches {
        cpus = 64
        time = "1h"
    }

    withName: FindUniqShortVariantsVCF {
        cpus = 64
        time = "1h"
    }

    withName: ConvertVEPOutParquet {
        cpus = 64
        time = "1h"
    }

    withName: UnFilteredAnnotation {
        cpus = 64
        time = "1h"
    }

    withName: CuratedAnnotation {
        cpus = 64
        time = "1h"
    }
}